{% comment %} {% load static %}
<footer>
  <div class="footer-content">
    <div class="footer-logo">
    <img src="{% static 'home_page/images/logo.jpeg' %}" alt="Let's Learn English Logo">
    </div>
    <p class="footer-text">
      Let's Learn English is a comprehensive platform designed to help learners master English through interactive exercises, AI-powered conversations, and personalized feedback.
    </p>
    <div class="copyright">
      &copy; {% now "Y" %} Let's Learn English. All rights reserved.
    </div>
  </div>
</footer> {% endcomment %}