<!-- HERO SECTION -->
 {% load static %}
<section id="home" class="hero">
  <div class="section-flex">
    <div class="section-content">
      <h1 class="hero-quote">Learn English online and boost your skills with our high-quality practice, interactive tests, and powerful learning resources.</h1>
      
      <div class="hero-subtitle">
        Come and join us to improve your English with our comprehensive platform
      </div>
      
      <!-- Use this format -->
       <a href="{% url 'listening:test_home' %}" class="btn">Take Test Now</a>
    </div>

    <img src="{% static 'home_page/images/start image.avif' %}" alt="Students learning English together">
  </div>
</section>